// Variables
$h1FontSize: 2.5em;
$h1BottomMargin: .5em;
$green2: #2D8D37; 
$greenFontColor: #72dd7f;
$offWhite: #E8E8E8;
$bg: #503e3e;
$poiretOne: 'Poiret One', cursive;
$quickSand: 'Quicksand', sans-serif;